/* -- GLOBAL -- */
body {
  height: 100svh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

/* -- HEADER -- */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  border-bottom: 1px solid #bb010bff;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
}

.navList {
  display: flex;
  list-style-type: none;
  padding-inline-start: 0;
  gap: 16px;
}

.navLink {
  color: black;
}

/* -- MAIN -- */
/* MAIN */
.section {
  height: 100vh;
}

#transition {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

#animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

/* OVERGANGER */
.buttonContainer {
  display: flex;
  gap: 10px;
}

.button {
  padding: 10px 12px;
  width: 100px;
  border-radius: 40px;
  border: 2px solid lightgray;
}

.buttonColor {
  background-color: plum;
  /* Longhand */
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-delay: 0.3s;
  transition-duration: 1s;

  /* Shorthand */
  transition: background-color ease-in-out 0.5s 1s;
}

.buttonColor:hover {
  background-color: blue;
}

.buttonColor:active {
  background-color: red;
}

.buttonColor:focus {
  background-color: green;
}

.buttonSize {
  width: inherit;

  transition-property: scale;
  transition-timing-function: ease-in;
  transition-delay: 0.1s;
  transition-duration: 0.5s;

  transition: width ease-in 0.1s 3s;
}

.buttonSize:hover {
  scale: 1.5;
  margin: 0 10px;
}

.buttonOpacity {
  opacity: 0.5;

  transition-property: opacity;
  transition-timing-function: ease-out ;
  transition-delay: 0.3s ;
  transition-duration: 1s;
}

.buttonOpacity:hover {
  opacity: 1;
}

/* ANIMASJONER */
.card {
  max-width: 500px;
  border: 2px solid lightgray;
  padding: 10px;
  border-radius: 20px;
}

.slideInLeftCard {
  background-color: beige;
}

.slideInRightCard {
  background-color: beige;
}

.rotate {
  background-color: beige;
}

/* -- FOOTER -- */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
}

.credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.credits p {
  margin: 4px;
}

@media (max-width: 426px) {
  section {
    flex-direction: column;
  }
}
